body, html {
  margin: 0;
  padding: 0;
  position: relative;
}

/* Container for background images */
#backgrounds {
  position: absolute;  /* removes it from normal flow */
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;         /* behind content */
}

/* Each background image */
.bg-image {
  display: block;
  width: 100%;         /* fill width */
  height: 100%;        /* maintain aspect ratio */
}

main {
  position: relative;
  z-index: 1;
  padding-top: 2rem; /* controlled space instead of default margin */
  padding-left: 2rem;
  padding-right: 2rem;
}




  
    h1, h2, h3, h4{
      font-family: 'Times New Roman', Times, serif;
      font-weight: 40;
  margin: 50px 0 30px;
  text-align: center;
  font-size: clamp(2rem, 5vw, 7rem);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  color: aliceblue;
  }
  h2, h3, h4{
    font-size:clamp(2rem, 4vw, 7rem);
  }
  
  .NERD{ position:absolute; top:0vh; left:20vw;  width:15vw; max-width:180px; }
  .NERD2{ position:absolute; top:0vh; left:67vw;  width:15vw; max-width:180px; }

  p{
    font-weight: 40;
  text-shadow: .5px .5px 1px rgb(0, 0, 0);
  font-size: 1.5rem;
  margin: 0px 100px 20px;
  text-align: center;
  color: aliceblue;
  }
  h5{
    font-weight: 40;
  text-shadow: .5px .5px 1px rgb(0, 0, 0);
  font-size: 1.1rem;
  margin: -30px 25px 20px;
  text-align: center;
  font-style: italic;
  color: aliceblue;
  }

  @media screen and (max-width: 600px) {

    body {
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; /* Fix background */
      background-position: center center;               /* Still fills the screen */
    }

    p{
      font-size: 1rem;
      margin: -20px 10px 20px;
    }


    .NERD{ position:absolute; top:4vh; left:10vw;  width:15vw; max-width:200px; }
  .NERD2{ position:absolute; top:4vh; left:75.5vw;  width:15vw; max-width:200px; }


  }

  .spacer {
    height: 20000px;
  }